                        <div id="someday-file-div" class="col-sm-4">
                            <img id="someday-file-small-image" src="images/Jean-Heller-The-Someday-File-small.png" alt="Jean Heller - The Someday File" class="img-responsive">
                            <div class="book-description">
                                    <p>{{books['The Someday File'].description[0]}}</p>
                                    <p>{{books['The Someday File'].description[1]}}</p>
                                    <!-- Insert description here -->
                                <p><a href="" ng-click="currentBook = 'The Someday File'" data-toggle="modal" data-target="#descriptionModal">Read More</a></p>
                            </div><!--/.book-description -->

                        </div><!--/#someday-file-div.col-md-4 -->
                        <div id="handyman-div" class="col-sm-4">
                            <img id="handyman-small-image" src="images/Jean-Heller-Handyman-small.png" alt="Jean Heller - Handyman" class="img-responsive">
                            <div class="book-description">
                                    <p>{{books['Handyman'].description[1]}}</p>
                                    <!-- Insert description here -->
                                    <p><a href="" ng-click="currentBook = 'Handyman'" data-toggle="modal" data-target="#descriptionModal">Read More</a></p>
                            </div><!--/.book-description -->
                        </div><!--/#handyman-div.col-md-4 -->
                        <div id="maximum-impact-div" class="col-sm-4">
                            <img id="maximum-impact-small-image" src="images/Jean-Heller-Maximum-Impact-small.png" alt="Jean Heller - Maximum Impact" class="img-responsive">
                            <div class="book-description">
                                <p>{{books['Maximum Impact'].description[1]}}</p>


                                <p><a href="" ng-click="currentBook = 'Maximum Impact'" data-toggle="modal" data-target="#descriptionModal">Read More</a></p>
                            </div><!--/.book-description -->
                        </div><!--/#maximum-impact-div.col-md-4 -->



                    <div class="row">
                        <div class="col-sm-5">
                            <img class="img-responsive featured" src="images/Jean-Heller-The-Someday-File.png" alt="Jean Heller - The Someday File">
                        </div><!--/.col-sm-5 -->
                        <div class="col-sm-7 featured-column">
                            <h1 class="featured-header">The Someday File</h1>
                            <p class="featured-description">It can be an unpleasant surprise when the kitten you bought as a pet grows up to be a man-eating tiger.</p>
                            <p class="featured-description">That’s pretty much what happens to Deuce Mora, a columnist for the Chicago Journal, one of those big-city newspapers struggling to stay solvent in a world that considers them relics of a bygone era.</p>
                            <div class="featured-buttons">
                                <button class="btn btn-large btn-primary yellow-button"><span class="hidden-xs hidden-sm">read an </span>excerpt</button>
                                <button class="btn btn-large btn-primary yellow-button">buy<span  class="hidden-xs hidden-sm"> the book</span></button>
                            </div><!--/.featured-buttons -->
                        </div><!--/.col-sm-7.featured-buttons -->
                    </div><!--/.row -->
